<% @blogs_container.each do |blog|%>
  <div class='card' id='blog-show-card'>
    <div class='card-block'>
      <h3 class='card-title'><%= blog.title %></h3>
      <pre class='card-text'><%= blog.body %></pre>
      <%= button_to "Blog", user_blog_path(blog.user_id, blog), :method => "get", class: "btn btn-success"%>
    </div>
  </div>
<% end %>
