<ul class='card-button-list'>
  <li class='card-button'>
    <%= button_to "New Category", new_user_category_path(@user), method: "get", class: "btn new-category-button" %>
  </li>
</ul>
<% @categories_container.each do |category|%>
  <div class='card' id='blog-show-card'>
    <div class='card-block'>
      <h3 class='card-title'><%= category.title %></h3>
      <ul class="card-button-list">
        <li class='card-button'>
          <%= button_to 'Edit', edit_user_category_path(@user, category), method: :get, class: 'btn home-button' %>
        </li>
        <li class='card-button show'>
          <%= button_to 'Show', user_category_path(@user, category), method: :get, class: 'btn login-button' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
